Flask-Bcrypt==0.7.1
Flask-Migrate==2.5.3
flask-restx==0.2.0
Flask-Script==2.0.6
Flask-Testing==0.8.0
idna==2.10
isbnlib==3.5.6
pipdeptree==1.0.0
psycopg2-binary==2.8.6
py-moneyed==0.8.0
PyJWT==1.7.1
python-dotenv==0.14.0
schwifty==2020.2.2
wheel==0.35.1